body{
  margin: 0%;
  background-color: #FFE4E1;
}

.top{
	margin: 0px;
	background-color: #E6E6FA;
	width: 100%;
  padding: 25px;
  height: 5px;
  position: relative;
}

.fas{
  color: #00BFFF;
  display: block;
  position: relative;
  width: 90px;
  left: 90px;
}

.fab{
  color: #00BFFF;
  display: block;
  position: relative;
  width: 90px;
  left: 90px;
}

.imgTwitter{
  height: 25px;
  position: absolute;
  top: 15px;
  left: 1160px;
}

.imgCover{  
  padding: 0px;
	text-align: center; 
	position: relative;
	left: 32px;
}

.profile{
  text-align: center;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  text-align: left;
	font-size: 20px;
  background-color: #E6E6FA;
  border-radius: 15px;
  height: 480px;
  width: 430px;
  position: absolute;
  top: 450px;
  left: 68px;
}

.imgProfile{
  margin: 15px;    
  border: 10px solid;
  border-color: #DDA0DD;
  border-radius: 100px;
  position: relative;
  top: 2px;
  left: 60px; 
}

.imgRabbit{
  height: 40px;
  bottom: 68px;
  left: 200px;
  position: relative;
}

.textProfile{
  padding: 10px;
  position: relative;
  left: 20px; 
  bottom: 30px;
}	

.textProfile p{
  position: relative;
  left: 2px; 
  bottom: 90px;
}

.subject{
  padding: 2px;
  position: relative;
  left: 2px; 
  bottom: 110px;
}

.subject p {
  position: relative;
  left: 2px; 
  bottom: 20px;
}

.text{
  background-color: #E6E6FA;
  text-align: right;
  border-radius: 15px;
  height: auto;
  width: 750px; 
  resize: none;    
  position: absolute;
  top: 450px;
  left: 600px;
}

.textArea{
  height: 80px;
  width: 430px;
  margin: 15px;
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 20px;
  position: relative;
  top: 2px;
  right: 110px; 
}

#button{
  height: 50px;
  width: 100px;
  border-radius: 15px;
  margin: 5px;
  background-color: #DDA0DD;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size: 20px;
  position: relative;
  right: 120px;
  bottom: 30px;
}

#counter{
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 20px;
  position: relative;
  right: 235px;
  bottom: 20px;
}

.result{
  background-color: #E6E6FA;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size: 20px;
  border-radius: 15px;
  height: auto;
  width: 810px;
  margin: 30px;
  position: relative;
  top: 240px;
	left: 560px;
	word-wrap: break-word;
}

#result p{
	padding: 20px;
  border: 3px solid #DDA0DD;
	border-radius: 15px;
	word-wrap: break-word;
}